body {
    background: #444444;
}

/*********************************************
 Helpers
 *********************************************/
.col-half {
    width: 50%;
    float: left;
}

.pull-right {
    float: right;
}

.uppercase {
    text-transform: uppercase;
}

.font__light {
    font-weight: 300!important;
}

.font__medium {
    font-weight: 500;
}

.font__size-small {
    font-size: 10px!important;
}

.text__left {
    text-align: left;
}

.color__yellow {
    color: #F0DB4F!important;
}

.color__blue {
    color: #42affa!important;
}

.reveal pre {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.reveal pre code {
    padding: 20px!important;
}

.present {
    text-align: left;
}

.col-half {
    width: 50%;
    float: left;
}

.pull-right {
    float: right;
}

.uppercase {
    text-transform: uppercase;
}